{% extends "page.html.twig" %}

{% block sidebarfirst %}
{% endblock %}

{% block sidebarsecond %}
{% endblock %}

{% block main_content %}
  <div class="layout-content col-md-12">
    {{ page.content }}
  </div>{# /.layout-content #}
{% endblock %}